[package]
name = "engawa-shared"
version.workspace = true
edition.workspace = true
publish = false

[dependencies]
chrono = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
